<bindable name="data" />

<div class="card">
    <h4 class="card-header">Applicant</h4>
    <div class="card-body">
        <table class="table">
            <tr>
                <td><strong>Id:</strong></td> 
                <td>${data.id}</td>
            </tr>
            <tr>
                <td><strong>First Name:</strong></td> 
                <td>${data.name}</td>
            </tr>
            <tr>
                <td><strong>Last Name:</strong></td> 
                <td>${data.familyName}</td>
            </tr>    
            <tr>
                <td><strong>Address:</strong></td> 
                <td>${data.address}</td>
            </tr>
            <tr>
                <td><strong>Country:</strong></td> 
                <td>${data.countyOfOrigin}</td>
            </tr>
            <tr>
                <td><strong>EmailAddress:</strong></td> 
                <td>${data.emailAddress}</td>
            </tr>
            <tr>
                <td><strong>Age:</strong></td> 
                <td>${data.age}</td>
            </tr>
            <tr>
                <td><strong>Hired Status:</strong></td> 
                <td>${data.hired}</td>
            </tr>

            <tr>
                <button type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </tr>
<!-- 
            <p><strong>First Name:</strong> ${data.name}</p>
            <p><strong>Last Name:</strong> ${data.familyName}</p>
            <p><strong>Address:</strong> ${data.address}</p>
            <p><strong>Country:</strong> ${data.countyOfOrigin}</p>
            <p><strong>EmailAddress:</strong> ${data.emailAddress}</p>
            <p><strong>Age:</strong> ${data.age}</p>
            <p><strong>Hired Status:</strong> ${data.hired}</p> -->
        </table>
    </div>
</div>