<div class="form-froup row">
    <label class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)] = "name" placeholder="Enter First Name">

    </div>
    <label class="col-sm-2 col-form-label">Family Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)] = "familyName" placeholder="Enter Family Name">

    </div>

    <label class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)] = "address" placeholder="Enter Address">

    </div>
    <label class="col-sm-2 col-form-label">Country</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)] = "countyOfOrigin" placeholder="Enter Country">
    </div>

    <label class="col-sm-2 col-form-label">E-mail</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)] = "emailAddress" placeholder="Enter e-mail">
    </div>

    <label class="col-sm-2 col-form-label">Age</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)] = "age" placeholder="Enter age">
    </div>
    <label class="col-sm-2 col-form-label">Hired</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)] = "hired" placeholder="True/False">
    </div>


</div>

<button (click)="addApplicant()" *ngIf="applicantData.id==0" class="btn btn-primary">Add</button>
<button (click)="updateApplicant()" *ngIf="applicantData.id!=0" class="btn btn-primary">Update</button>